---
import "@fontsource/inter";
import BaseHead from "../components/BaseHead.astro";
import Sidebar from "../components/Sidebar.astro";
import Menubar from "../components/Menubar.astro";

interface Props {
    title?: string;
}

const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <BaseHead title={title} />
    </head>
    <body>
        <Sidebar title="Shop Documentation" icon="shop_docs_icon.png" />
        <Sidebar
            position="fixed top-0 right-0"
            title="Profile"
            icon="profile_icon.png"
        />
        <article class="sm:mx-80">
            <slot />
        </article>
        <Menubar
            menuSelection={[
                { name: "articles", icon: "shop_docs_icon.png" },
                { name: "profile", icon: "profile_icon.png" },
            ]}
        />
        <script>
            const profileButton = document.getElementById("profile");
            const articlesButton = document.getElementById("articles");
        </script>
    </body>
</html>
